 
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>AddInMate2</title>
 <link rel="stylesheet" type="text/css" href="/css/OwnerHeader.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
<div th:replace="OwnerHeader :: oh"></div>




<!-- //<s:form action="addInMate2.owner"  modelAttribute="inMateBean" method="POST"> -->
 <form  action="#" th:action="@{/mypg/createInMate}"  th:object="${inMate}" method="POST">

<!--  <input type="hidden"  th:field="*{myRoom}"/> -->

<!--  <input type="hidden"  name="myRoom" th:value="${roomId}" /> -->
 
 <input type="hidden" name="myPg"  th:value="${session.pg.getPgId()}">
 
<!--   <input type="hidden" th:field="myPg"  th:value="${session.pg.getPgId()}"> -->
 
<!--  testing wether has a set in addinmate api reflect or not -->
 
<!--  myRoom :roomid = from thymleaf<input type="text" readonly="readonly" th:field="*{myRoom}"/> -->

<!-- <label  th:value ="${inmate.myRoom}" ></label> -->
<!-- <label  th:value ="${inmate.getMyRoom()}" ></label> -->
<!-- <label  th:value ="${inmate}" ></label> -->

<h1 align="center">MANDATORY FIELDS</h1>

<table align="center" border="0" bordercolor="maroon">

<tr>
<td>
YOUR GUY WILL B IN THIS ROOM
</td>
<td style="color:green;">
<!-- <input type="text" name="roomNumber"  readonly="readonly"  th:value ="${roomNumber}"/> -->
<!-- <label  th:value ="${roomNumber}" ></label> -->

<!--  <input type="hidden" name="myPg"  th:value="${session.roomNumber}"> -->
<!--  <label  th:value ="${session.roomNumber}" ></label> -->
 
 <input type="text" readonly="readonly" th:value="${session.roomNumber}">
</td>
<td><b style="color: red;" th:value ="${roomNumberErrorMessage}"></b></td>


</tr>

<tr>
<td>
FIRST NAME
</td>
<td>
<input type="text" th:field="*{firstName}"/>     
<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> </label>   


</td>
</tr>

<tr>
<td>
PHONE NUMBER
</td>
<td>
<input type="text" th:field="*{phoneNumber}"/>       
<label th:if="${#fields.hasErrors('phoneNumber')}"   th:errors="*{phoneNumber}"> </label>
</td>

<td><b style="color: red;" th:text="${dupUserErrorMessage }"></b></td>

</tr>

<tr>
<td>
DATE OF JOINING  
</td>

<td>
<input type="text" th:field="*{dateOfJoining}"/>       
<label th:if="${#fields.hasErrors('dateOfJoining')}"   th:errors="*{dateOfJoining}"> </label>
</td>


<td><b style="color: red;" th:text="${dateOfJoiningErrorMessage }"></b></td>

</tr>

</table>

<h1 align="center">OPTIONAL FIELDS</h1>
<table align="center" border="0" bordercolor="maroon" >
<tr >
<td>
LAST NAME
</td>
<td >

<input type="text" th:field="*{lastName}"/>
<label th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"> </label>
</td>
</tr>

<tr>
<td>
D.O.B  
</td>

<td>

<input type="text" th:field="*{dob}"/>
<label th:if="${#fields.hasErrors('dob')}"  th:errors="*{dob}"> </label>
</td>

<td><b style="color: red;" th:text="${dobErrorMessage }"></b></td>
</tr>

<tr>
<td>
AADHAAR NUMBER
</td>
<td>

<input type="text" th:field="*{aadhaarNumber}"/>
<label th:if="${#fields.hasErrors('aadhaarNumber')}"  th:errors="*{aadhaarNumber}"> </label>

</td>
</tr>


<tr>
<td>
OCCUPATION
</td>
<td>
<input type="text" th:field="*{occupation}"/>
<label th:if="${#fields.hasErrors('occupation')}"  th:errors="*{occupation}"> </label>
</td>
</tr>


<tr>
<td>
E-MAIL
</td>

<td>
<input type="text" th:field="*{emailId}"/>
<label th:if="${#fields.hasErrors('emailId')}"  th:errors="*{emailId}"> </label>
</td>
</tr>

<tr>
<td colspan="2" align="center" >ADDRESS  
</td>
</tr>

<tr>
<td>
HOUSE-NUMBER  
</td>
<td>

<!-- <input type="text" th:field="*{address.houseNumber}"/> -->
<!-- <label th:if="${#fields.hasErrors('address.houseNumber')}"  th:errors="*{address.houseNumber}" > </label> -->

</td>
</tr>

<tr>
<td>
STREET  
</td>
<td>


<input type="text" th:field="*{address.street}"/>
<label th:if="${#fields.hasErrors('address.street')}"  th:errors="*{address.street}"> </label>
</td>
</tr>

<tr>
<td>
DISTRICT
</td>
<td>


<input type="text" th:field="*{address.disrtict}"/>
<label th:if="${#fields.hasErrors('address.disrtict')}"  th:errors="*{address.disrtict}"> </label>
</td>
</tr>

<tr>
<td>
STATE  
</td>
<td>


<input type="text" th:field="*{address.state}"/>
<label th:if="${#fields.hasErrors('address.state')}"  th:errors="*{address.state}"> </label>
</td>
</tr>

<tr>
<td>
COUNTRY 
</td>
<td>


<input type="text" th:field="*{address.country}"/>
<label th:if="${#fields.hasErrors('address.country')}"  th:errors="*{address.country}"> </label>

</td>

<tr>
<td>
PIN
</td>
<td>


<input type="text" th:field="*{address.pin}"/>
<label th:if="${#fields.hasErrors('address.pin')}"  th:errors="*{address.pin}"> </label>
</td>
</tr>

<tr>
<td colspan="2" align="center">
<input type="submit" th:value="submit"/>
<input type="reset" th:value="reset"/>
</td>
</tr>


</table>


</body>
</html>