<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Edit Owner Details</title>
 <link rel="stylesheet" type="text/css" href="/css/OwnerHeader.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
<div th:replace="OwnerHeader :: oh"></div>


<h5 th:text="${duplicateOwnerErrorMessage }"></h5>


<!-- <form th:if = "${session.owner != null}" action="#" th:action="@{/mypg/updateOwner}" -->
<!--  th:object="${owner}" method="POST"> -->

 <form th:if = "${session.owner != null}" action="#" th:action="@{/mypg/updateOwner}"  th:object="${owner}" method="POST">
 
<!--  <input type="hidden" name="ownerId"  th:value="${session.owner.ownerId}"> -->

 <input type="hidden"  th:field="*{ownerId}"/>
 <input type="hidden"  th:field="*{password}"/>
 <input type="hidden" th:field="*{repeatPassword}"/>
 <input type="hidden" th:field="*{myPg}"/>

<table align="center" border="0" bordercolor="maroon">
<!-- <tr> -->
<!-- <td> -->

<!--  </td> -->
<!--  </tr> -->
 
<tr>
<td>
FIRST NAME is
</td>

<td>
<input type="text" th:field="*{firstName}"/>     
<label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"> </label>   
  

</td>
</tr>
<tr>
<td>
PHONE NUMBER
</td>
<td>

<input type="text" readonly="true" th:field="*{phoneNumber}" />       
<!-- <label th:if="${#fields.hasErrors('phoneNumber')}"   th:errors="*{phoneNumber}"> </label> -->
</td>

<td><b style="color: red;" th:text="${dupUserErrorMessage }"></b></td>

</tr>



<tr >
<td>
LAST NAME
</td>
<td >

<input type="text" th:field="*{lastName}"/>
<label th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"> </label>
</td>
</tr>

<tr>
<td>
D.O.B  
</td>

<td>

<input type="text" th:field="*{dob}"/>
<label th:if="${#fields.hasErrors('dob')}"  th:errors="*{dob}"> </label>
</td>

<td><b style="color: red;" th:text="${dobErrorMessage }"></b></td>
</tr>

<tr>
<td>
AADHAAR NUMBER
</td>
<td>

<input type="text" th:field="*{aadhaarNumber}"/>
<label th:if="${#fields.hasErrors('aadhaarNumber')}"  th:errors="*{aadhaarNumber}"> </label>

</td>
</tr>



<tr>
<td colspan="2" align="center" >ADDRESS  
</td>
</tr>

<tr>
<td>
HOUSE-NUMBER  
</td>
<td>

<input type="text" th:field="*{address.houseNumber}"/>
<label th:if="${#fields.hasErrors('address.houseNumber')}"  th:errors="*{address.houseNumber}" > </label>

</td>
</tr>

<tr>
<td>
STREET  
</td>
<td>


<input type="text" th:field="*{address.street}"/>
<label th:if="${#fields.hasErrors('address.street')}"  th:errors="*{address.street}"> </label>
</td>
</tr>

<tr>
<td>
DISTRICT
</td>
<td>


<input type="text" th:field="*{address.disrtict}"/>
<label th:if="${#fields.hasErrors('address.disrtict')}"  th:errors="*{address.disrtict}"> </label>
</td>
</tr>

<tr>
<td>
STATE  
</td>
<td>


<input type="text" th:field="*{address.state}"/>
<label th:if="${#fields.hasErrors('address.state')}"  th:errors="*{address.state}"> </label>
</td>
</tr>

<tr>
<td>
COUNTRY 
</td>
<td>


<input type="text" th:field="*{address.country}"/>
<label th:if="${#fields.hasErrors('address.country')}"  th:errors="*{address.country}"> </label>

</td>

<tr>
<td>
PIN
</td>
<td>


<input type="text" th:field="*{address.pin}"/>
<label th:if="${#fields.hasErrors('address.pin')}"  th:errors="*{address.pin}"> </label>
</td>
</tr>


<tr>
<td colspan="2" align="center">
<input type="submit" th:value="UpdateMYDetails"/>
<input type="reset" th:value="reset"/>
</td>
</tr>


</table>

</form>

</body>

</html>