<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head>
<meta charset="UTF-8">
<title>View Rooms</title>

 <link rel="stylesheet" type="text/css" href="/css/OwnerHeader.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
</head>





<body>
<div th:replace="OwnerHeader :: oh"></div>



<h3 th:if = "${rooms.size() <= 0}" th:text="${emptyPgMessage }"></h3>



<table th:if = "${rooms.size() > 0 }" align="center" border="1" bordercolor="maroon">

<tr style="color: maroon;">
<th >
Sl Number
</th>

<th >
Room Number
</th>

<th>
Total Beds
</th>

<th>
Room Mates
</th>

<th>
cost per bed
</th>


<th>
Total vacancies
</th>

</tr>

<tr th:each="room: ${rooms}">

<td style="color: red;">
<!-- //<c:set var="roomCount" value="${roomCount + 1}" scope="page"/> -->

<!-- <label th:text="${roomCount + 1}" var="roomCount" th:value="${roomCount + 1}"></label> -->

</td>

    

<td style="color: red;">
<b th:text="${room.roomNumber }"></b>
</td>


<td style="color: red;">
<b th:text="${room.numberOfBeds }"></b>
</td>

<td>
</td>

<td style="color: red;">
<b th:text="${room.costPerBed }"></b>
</td>



<!-- <td style="color: red;" th:each="room: ${roomMates}"> -->

<!-- <!-- //<c:forEach var="inMateBean" items="${roomBean.roomMates}"> --> 

<!-- <b if test="${inMate ne null}" th:text="${inMate.firstName }"></b> -->


<!-- <b th:text="${inMate.phoneNumber }"></b> -->

<!-- </td> -->

<!-- <td> -->
<!-- <label th:text="${room.numberOfBeds - room.roomMates.size() }" th:value="${room.numberOfBeds - room.roomMates.size() }"> -->


<td>
<label>Calculate by urself</label>

</td>

<td>
<!-- //<form action="openEditRoomView.owner" method="post"> -->
 <form th:if = "${session.owner != null}" action="#" th:action="@{/mypg/openEditRoomView}"  method="GET">

<input type="hidden" name="roomId" th:value="${room.roomId }"/>

<input type="submit" th:value="Edit_Room"/>


</form>
</td>

<td>
 <form th:if = "${session.owner != null}" action="#" th:action="@{/mypg/deleteRoom}"  method="GET">

<input type="hidden" name="roomId" th:value="${room.roomId }"/>

<input type="submit" th:value="Remove_Room_from_Pg" />
</form>
</td>

</tr>


</table>


</html>