<!DOCTYPE html>
<html >

<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<style>
a   {color: black;}
</style>

</head>

<body>
 <div th:fragment="header">
    
<table border="0" align="left">
<tr bordercolor="black">
<td width="3400">
<h3  style="color: red;"><a  href="#" >ABOUT</a></h3> 
</td>

<td width="3400">
<h3  style="color: red;"><a  href="contactMe"  >CONTACT</a></h3> 
</td>

<td >
<h3  style="color: red;"><a  href="openPGOwnerRegistrationView"  >REGISTER</a></h3>
</td>
</tr>
</table>
</div>
</body>
</html>