<html lang="en" >
<head>
<title>OwnerHeader</title>

</head>


 <h1 style="color:blue;">This is a Blue Heading</h1> 
<body>
<!-- <div th:fragment="Oheader" > -->
<div th:fragment="oh"> 
<div  style="overflow: hidden;background-color: black;font-family: Arial, Helvetica, sans-serif;" >
  <a style="float: left;font-size: 16px;color: white;text-align: center;padding: 14px 16px;
  text-decoration: none;" href="back">HOME</a>
  
  <div  style="float: left;overflow: hidden;">
    <button  style="font-size: 16px; border: none;outline: none;color: white; padding: 14px 16px;
    background-color: inherit;font-family: inherit;margin:0;">IN-MATES
          
    </button>
    <div style="display: none;position: absolute;color:white;
    background-color: black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;">
	<a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;"
	href="openAddInMateView.owner">ADD IN-MATE</a>
	  <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="viewAllInMates.owner">VIEW IN-MATE</a>      
     </div>
  </div> 

   <div  style="float: left;overflow: hidden;">
    <button  style="font-size: 16px; border: none;outline: none;color: white; padding: 14px 16px;
    background-color: inherit;font-family: inherit;margin:0;">ROOMS 
      
      
    </button>
    <div style="display: none;position: absolute;color:white;
    background-color: black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;">
	<a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;"href="openAddARoom.owner">ADD ROOM</a>
     <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="viewRooms.owner">VIEW ROOMS</a>
      </div>

  </div> 



      <div style="float: left;overflow: hidden;">
    <button style="font-size: 16px; border: none;outline: none;color: white; padding: 14px 16px;
    background-color: inherit;font-family: inherit;margin:0;">RENT
      
      
    </button>
    <div  style="display: none;position: absolute;color:white;
    background-color: black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;">
      <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="viewDues.owner">VIEW ALL DUES</a>
      </div>
    </div>

         <div  style="float: left;overflow: hidden;">
    <button style="font-size: 16px; border: none;outline: none;color: white; padding: 14px 16px;
    background-color: inherit;font-family: inherit;margin:0;">COMPLAINT-BOX
      
      
    </button>
    <div  style="display: none;position: absolute;color:white;
    background-color: black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;">
     <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="openComplaintBox.owner">OPEN COMPLAINT-BOX</a>
     </div>
  </div>

  <div style="float: left;overflow: hidden;">
    <button class="dropbtn" style="font-size: 16px; border: none;outline: none;color: white; padding: 14px 16px;
    background-color: inherit;font-family: inherit;margin:0;">MyPG
      
      
    </button>
    <div style="display: none;position: absolute;color:white;
    background-color: black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;">    
     <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="viewPGDetails.owner">VIEW PG DETAILS</a>
      <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="openViewAndEditPGDetails.owner">EDIT PG DETAILS</a>
    </div>
  </div>

 <div style="float: left;overflow: hidden;">
    <button  style="font-size: 16px; border: none;outline: none;color: white; padding: 14px 16px;
    background-color: inherit;font-family: inherit;margin:0;">ME
      
      
      
    </button>
    <div  style="display: none;position: absolute;color:white;
    background-color: black;min-width: 160px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;">  
      <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="viewOwnerDetails.owner">SHOW MY DETAILS</a>
      <a  style=" float: none;font-size: 16px;color: white;text-align: left;
	padding: 12px 16px;text-decoration: none;display: block;" href="openEditOwnerDetails.owner">EDIT MY DETAILS</a>
    </div>
  </div>
        <a style="float: left;font-size: 16px;color: white;text-align: center;padding: 14px 16px;
        text-decoration: none;" 
         href="logOut">get out</a>

</div>



</div>

</body>
</html> 